/*首页*/
#bg {
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	height: 1000px;
	background: url(../img/pattern.png) 50% 0 no-repeat fixed;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.info {
	display: table-cell;
	/*vertical-align: middle;*/
	padding-top:200px;
	height: 200px;
	text-align: center;
	color: #fff;
}

.info_wrap {
	display: table;
	width: 100%;
	height: 100%;
	color: #fff;
}

.info h1 {
				/*font:'Microsoft YaHei', 'Microsoft YaHei UI', 'WenQuanYi Micro Hei', Arial, sans-serif,\5b8b\4f53;*/
	letter-spacing: 6px;
	font-weight: normal;
	font-family: "Microsoft YaHei";
}

.info a {
	transition: 0.2s linear all;
	border: 1px #fff solid;
	padding: 15px;
	letter-spacing: 3px;
	border-radius: 3px;
	color: #fff;
	font-size: 14px;
}

.info a:hover {
	background: #1CCDA6;
	color: #fff;
	border: 1px #1CCDA6 solid;
	text-decoration: none;
}
.our_service a div{text-align: center;font-size: 25px;font-weight: normal;color: #666;margin-top: 30px;}
.works {
	width: 100%;
}

.works li {
	float: left;
	width: 25%;
	overflow: hidden;
}

.works li .works_img {
	width: 100%;
	margin: 0;
	padding: 0;
	display: block;
	overflow: hidden;
	transition: 0.5s;
}

.works li:hover .works_img {
	-webkit-transform: scale(1.2);
}


.works li:hover .hover_bg {
	opacity: 0.8;
}
			.works_img {
	display: block;
	overflow: hidden;
	z-index: 0;
}

.hover_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
				/*background: rgba(81, 174, 255, 0.8);*/
	background: #333;
	opacity: 0;
	z-index: 2;
	transition: all 0.5s;
}

.hover_bg img {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 3;
	margin: -50px -50px;
}

.works li:hover .hover_bg img {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 3;
	margin: -50px -50px;
}

#syatu {
	/*text-align: center;*/
	margin: auto;
	width: 150px;
	height: 46px;
	line-height: 46px;
	font-size: 16px;
	font-family: "Microsoft YaHei";
	color: #000;
	font-weight: normal;
	display: block;
    /*float: left;*/
	border-radius: 3px;
	border: #535353 1px solid;
	text-align: center;
   /* margin-left: 540px;*/
	margin-top: 60px;
	transition: 0.2s linear all;
}

#syatu:hover {
	text-decoration: none;
	color: #fff;
	background: #1CCDA6;
	border: 1px #1ccda6;
}

a:hover {
	text-decoration: none;
}

.thumbnail {
	border: 0;
}
.news .thumbnail{
	margin-bottom: 0;
}
.news p {
	height: 44px;
	color: #999;
	font-size: 12px;
	overflow: hidden;
	line-height: 1.8;
}

.news h2 {
	margin-bottom: 5px;
	color: #333;
	font-size: 18px;
	
}
.news p{
	margin-bottom: 10px;
}
.news h4{
	height: 38px;
	overflow: hidden;
}
.news span {
	/*position: absolute;
	bottom: 10px;
	left: 20px;*/
	color: #999;	
}
.news .newsinfo{
	border: 1px #f0f0f0 solid;
	padding:0 0 10px 5px;
	border-top: 1px #fff solid;
}
article {
	overflow: hidden;
}

article img {
	display: block;
	overflow: hidden;
	-webkit-transition: 0.5s;
}

article:hover img {
	-webkit-transform: scale(1.2);
}

.hover_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(81, 174, 255, 0.8);
	opacity: 0;
	-webkit-transition: all 0.5s linear;
}

article:hover .hover_bg {
	opacity: 1;
}

article h2 {
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	height: 100%;
	color: #FFFFFF;
	opacity: 0;
	-webkit-transition: 0.2s;
}

article:hover h2 {
	top: 45%;
	opacity: 1;
}

.active {
	color: #1ccda6;
}

body {
	font-family: "Microsoft YaHei";
}
/*案例*/
.cd-gallery li {
	margin-bottom: 30px;
}

.filter a:hover {
	color: #fff;
	background: #1CCDA6;
}

.cd-gallery li a {
	display: block;
	overflow: hidden;
}

.cd-gallery li a {
	color: #333;
}

.cd-gallery li a img {
	transition: all 0.5s;
}

/*.cd-gallery li a:hover img {
	-webkit-transform: scale(1.2);
}*/

summary {
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: -50px;
	left: 0;
	line-height: 50px;
	color: #a9a9a9;
	background: rgba(0,0,0,0.5);
	background: #666\9;
	text-align: left;
	text-indent: 20px;
	z-index: 3;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	transition: 0.3s;
}

.cd-gallery li a:hover summary {
	bottom: 0;
}

article {
	overflow: hidden;
	text-align: center;
}

article img {
	display: block;
	overflow: hidden;
	-webkit-transition: 0.5s;
}

article:hover img {
	-webkit-transform: scale(1.2);
}

.hover_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(81, 174, 255, 0.8);
	opacity: 0;
	-webkit-transition: all 0.5s linear;
}

article:hover .hover_bg {
	opacity: 1;
}

article h2 {
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	height: 100%;
	color: #FFFFFF;
	opacity: 0;
	-webkit-transition: 0.2s;
}

article:hover h2 {
	top: 45%;
	opacity: 1;
}

.cd-gallery li .works_img {
	width: 100%;
	height: auto;
	transition: all 0.5s;
	display: block;
	overflow: hidden;
}

.cd-gallery li li:hover .works_img {
	-webkit-transform: scale(1.2);
}

.cd-gallery li:hover .hover_bg {
	opacity: 0.8;
}

article {
	position: relative;
	width: 100%;
	display: block;
	overflow: hidden;
}

img {
	max-width: 100%;
}

.works_img {
	display: block;
	overflow: hidden;
	z-index: 0;
}

.hover_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
				/*background: rgba(81, 174, 255, 0.8);*/
	background: #333;
	opacity: 0;
	z-index: 2;
	transition: all 0.5s;
}

.hover_bg img {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 3;
	margin: -50px -50px;
}

.cd-gallery li:hover .hover_bg img {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 3;
	margin: -50px -50px;
}

/*服务*/
.box-1200 {
	width: 1200px;
	background: #FFFFFF;
	height: 750px;
	margin: 0 auto;
	position: relative;
}

.left-box-activity {
	position: absolute;
	top: 87px;
	left: 0;
	width: 649px;
	height: 595px;
}

.left-box-activity img {
	width: 649px;
	height: 595px;
}

.right-box-activity {
	width: 465px;
	height: 350px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.box-1200 h2 {
	font-size: 36px;
	color: #333;
	font-weight: normal;
}

.box-1200 p {
	margin-top: 36px;
	color: #666;
	line-height: 24px;
}

.box-1200 a {
	width: 148px;
	height: 48px;
	border: 2px solid #999;
	display: block;
	margin-top: 50px;
	color: #666;
	text-align: center;
	line-height: 48px;
	transition: 0.5s;
}

.box-1200 a:hover {
	background: #999;
	color: #fff;
}

.left-box-web {
	width: 465px;
	height: 251px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	margin: auto;
}

.right-box-web {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 586px;
	height: 507px;
}

.right-box-web img {
	width: 586px;
	height: 507px;
}

.subtitle-fw {
	bottom: 1px #ccc solid;
}

.subtitle {
	color: #fff;
	border-color: #fff;
	width: 240px;
	border-bottom: 1px solid #4fc7a4;
	margin: 0 auto 80px;
	text-align: center;
}

.subtitle-fw:after {
	content: "服务";
}

.subtitle:after {
	background: #4fc7a4;
	font-size: 14px;
	padding: 4px 20px;
	position: relative;
	top: 10px;
}			
/*关于*/
#about {
	position: relative;
}

#about .text {
	position: absolute;
	top: 40%;
	text-align: center;
	width: 100%;
}

h2,h3 {
	font-weight: normal;
}

#about h2 {
	color: #000;
	font-size: 50px;
	margin-bottom: 1.6%;
}

#about h3 {
	color: #000;
	font-size: 20px;
	line-height: 2;
}

.main_about {
	width: 100%;
	overflow: hidden;
	padding-top: 30px;
}

.who {
	width: 1200px;
	margin: 0px auto;
	overflow: hidden;
	text-align: left;
}

.who h1 {
	font-size: 28px;
	color: #333;
	text-align: center;
	margin-top: 20px;
	height: 25px;
	font-weight: normal;
}

.who p {
	margin: 0px auto;
	overflow: hidden;
	line-height: 30px;
	font-size: 14px;
	color: #333;
	margin-top: 30px;
}
.about {
	background: url(../image/about_bg.jpg) no-repeat center top #163e59;
	background-attachment: fixed;
	width: 100%;
	height: 600px;
	background-size: cover;
	text-align: center;
	color: #fff;
	overflow: hidden;
	color: #fff;
}

.about p,.about h2 {
	color: #fff;
}



.main_about .bottom {
	width: 1200px;
	margin: 70px auto 30px auto;
	overflow: hidden;
}

.main_about .bottom dl {
	width: 31%;
	margin: 0 1.1%;
	float: left;
	text-align: center;
}

.main_about .bottom dl dd {
	margin-bottom: 10px;
}

.main_about .bottom dl dt h2 {
	font-size: 18px;
	line-height: 32px;
	color: #666;
}

.subtitle-fw {
	bottom: 1px #ccc solid;
}

.subtitle {
	color: #fff;
	border-color: #fff;
	width: 240px;
	border-bottom: 1px solid #4fc7a4;
	margin: 0 auto 80px;
	text-align: center;
}
.index-services:after {
	content: "服务";
}
.index-works:after {
	content: "案例";
}
.index-news:after {
	content: "资讯";
}

.subtitle:after {
	background: #4fc7a4;
	font-size: 14px;
	padding: 4px 20px;
	position: relative;
	top: 10px;
}

/*服务优势*/
.col_wrap_3 {
	width: 1200px;
	margin: 0 auto 20px;
}

.col_3 {
	width: 100%;
}

.col_3 li {
	float: left;
	width: 33.333%;
	margin-right: 40px;
}

.col_3 li:nth-of-type(3n) {
	margin-right: -80px;
}

.col_3 li img {
	width: 100%;
}

dt {
	font-size: 14px;
	color: #666;
	line-height: 26px;
	font-weight: normal;
}


/*资讯*/
@-webkit-keyframes gfadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-moz-keyframes gfadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes gfadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.platform {
	width: 1205px;
	margin: auto;
	padding: 47px 0 40px;
	overflow: hidden;
	-webkit-animation: gdownIn 0.6s 0.4s both;
	-moz-animation: gdownIn 0.6s 0.4s both;
	animation: gdownIn 0.6s 0.4s both;
}

.platform span {
	display: block;
	float: left;
	width: 144px;
	height: 50px;
	margin-right: 20px;
	line-height: 50px;
	text-align: center;
	border-radius: 2px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	-moz-transition: 0.3s;
	transition: 0.3s;
	transition: 0.3s;
	transition: 0.3s;
}

.platform span {
	background-color: #ccc;
	background-repeat: no-repeat;
	color: #333;
}

.platform span:hover, .platform .act {
	background-color: #000;
	color: #fff;
}

.news_wrap {
	width: 1200px;
	margin: auto;
	overflow: hidden;
}

#news_list {
	width: 1215px;
	overflow: hidden;
}

#news_list li {
	float: left;
	width: 390px;
	height: 408px;
	margin: 0 15px 34px 0;
	background: #fff;
	-webkit-animation: gfadeIn 0.6s 0.8s both;
	-moz-animation: gfadeIn 0.6s 0.8s both;
	animation: gfadeIn 0.6s 0.8s both;
}

#news_list li:nth-of-type(2) {
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}

#news_list li:nth-of-type(3) {
	-webkit-animation-delay: 1.2s;
	-moz-animation-delay: 1.2s;
	animation-delay: 1.2s;
}

#news_list li:nth-of-type(4) {
	-webkit-animation-delay: 1.4s;
	-moz-animation-delay: 1.4s;
	animation-delay: 1.4s;
}

#news_list li:nth-of-type(5) {
	-webkit-animation-delay: 1.6s;
	-moz-animation-delay: 1.6s;
	animation-delay: 1.6s;
}

#news_list li:nth-of-type(6) {
	-webkit-animation-delay: 1.8s;
	-moz-animation-delay: 1.8s;
	animation-delay: 1.8s;
}

#news_list li:nth-of-type(7) {
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	animation-delay: 2s;
}

#news_list li:nth-of-type(8) {
	-webkit-animation-delay: 2.2s;
	-moz-animation-delay: 2.2s;
	animation-delay: 2.2s;
}

#news_list li:nth-of-type(9) {
	-webkit-animation-delay: 2.4s;
	-moz-animation-delay: 2.4s;
	animation-delay: 2.4s;
}

#news_list li:nth-of-type(10) {
	-webkit-animation-delay: 2.6s;
	-moz-animation-delay: 2.6s;
	animation-delay: 2.6s;
}

#news_list li:nth-of-type(11) {
	-webkit-animation-delay: 2.8s;
	-moz-animation-delay: 2.8s;
	animation-delay: 2.8s;
}

#news_list li a {
	display: block;
	height: 100%;
}

#news_list li picture {
	display: block;
	height: 238px;
	width: 100%;
	overflow: hidden;
}

#news_list li picture img {
	width: 100%;
	height: auto;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	transition: 0.3s;
}

#news_list li div {
	position: relative;
	height: 130px;
	padding: 20px;
	background: #fff;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	transition: 0.3s;
}

#news_list li h2 {
	margin-bottom: 5px;
	color: #333;
	font-size: 18px;
	height: 38px;
	overflow: hidden;
}

#news_list li p {
	height: 44px;
	color: #999;
	font-size: 12px;
	overflow: hidden;
	line-height: 1.8;
}

#news_list li span {
	position: absolute;
	left: 20px;
	color: #999;
}

#news_list li a:hover div {
	background: #000;
}

#news_list li a h2, #news_list li a p, #news_list li a span {
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	transition: 0.3s;
}

#news_list li a:hover h2, #news_list li a:hover p, #news_list li a:hover span {
	color: #fff;
}

#news_list li a:hover picture img {
	-webkit-transform: scale(1.06);
	-moz-transform: scale(1.06);
	transform: scale(1.06);
}

#news_list li a h2 {
	margin-top: 0;
}
#news_list li a:hover {
	text-decoration: none;
}
/*联系*/
#contact-bg {
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	height: 1000px;
	background:#F4F2EF url(../img/map.png) 50% 0 no-repeat fixed;				
}

.contact {
	width: 300px;
	height: 100%;
	background: #333;
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	padding: 300px 30px 0 50px;
	color: #fff;
}

.contact h1 {
	width: 300px;
	font-size: 20px;
	padding: 20px 0;
	font-weight: normal;
	overflow: hidden;
}

.contact b {
	font-size: 16px;
	font-weight: bold;
}

.contact p {
	padding-top: 5px;
}

.contact ul {
	padding: 20px 0;
}

.contact ul li {
	line-height: 30px;
}

.contact a {
	color: #fff;
}

.getSolution {
	width: 170px;
	height: 55px;
	line-height: 55px;
	text-align: center;
	font-size: 16px;
	color: #000;
	border: 1px #fff solid;
	display: block;
	border-radius: 3px;
	transition: 0.3s linear all;
}

.getSolution:hover {
	background: #1CCDA6;
	border: 1px #1CCDA6 solid;
}
			
.contact .img{
	vertical-align: middle;
}
.contact .img img{
	width: 30px;
	height: 30px;
}
.contact .num,.contact .web{
	vertical-align: middle;
	letter-spacing: 2px;
}			
			
address{
	margin-bottom: 0;
}



/*案例*/
.platform {
	width: 1205px;
	margin: auto;
	padding: 47px 0 40px;
	overflow: hidden;
	-webkit-animation: gdownIn 0.6s 0.4s both;
	-moz-animation: gdownIn 0.6s 0.4s both;
	animation: gdownIn 0.6s 0.4s both;
}

.platform span {
	display: block;
	float: left;
	width: 144px;
	height: 50px;
	margin-right: 20px;
	line-height: 50px;
	text-align: center;
	border-radius: 2px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	-moz-transition: 0.3s;
	transition: 0.3s;
	transition: 0.3s;
	transition: 0.3s;
}

.platform span {
	background-color: #f0f0f0;
	background-repeat: no-repeat;
	color: #333;
}

.platform span:hover, .platform .act {
	background-color: #1CCDA6;
	color: #fff;
}

@-webkit-keyframes gfadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-moz-keyframes gfadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes gfadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes gdownIn {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0,30px,0);
	}
}

@-moz-keyframes gdownIn {
	from {
		opacity: 0;
		-moz-transform: translate3d(0,30px,0);
	}
}

@keyframes gdownIn {
	from {
		opacity: 0;
		transform: translate3d(0,30px,0);
	}
}

#works_list li {
	width: 375px;
	height: 234px;
	float: left;
	margin: 0 20px;
	margin-bottom: 40px;
	-webkit-animation: gfadeIn 0.6s 0.8s both;
	-moz-animation: gfadeIn 0.6s 0.8s both;
	animation: gfadeIn 0.6s 0.8s both;
}

#works_list li:nth-of-type(2) {
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}

#works_list li:nth-of-type(3) {
	-webkit-animation-delay: 1.2s;
	-moz-animation-delay: 1.2s;
	animation-delay: 1.2s;
}

#works_list li:nth-of-type(4) {
	-webkit-animation-delay: 1.4s;
	-moz-animation-delay: 1.4s;
	animation-delay: 1.4s;
}

#works_list li:nth-of-type(5) {
	-webkit-animation-delay: 1.6s;
	-moz-animation-delay: 1.6s;
	animation-delay: 1.6s;
}

#works_list li:nth-of-type(6) {
	-webkit-animation-delay: 1.8s;
	-moz-animation-delay: 1.8s;
	animation-delay: 1.8s;
}

#works_list li:nth-of-type(7) {
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	animation-delay: 2s;
}

#works_list li:nth-of-type(8) {
	-webkit-animation-delay: 2.2s;
	-moz-animation-delay: 2.2s;
	animation-delay: 2.2s;
}

#works_list li:nth-of-type(9) {
	-webkit-animation-delay: 2.4s;
	-moz-animation-delay: 2.4s;
	animation-delay: 2.4s;
}

#works_list li:nth-of-type(10) {
	-webkit-animation-delay: 2.6s;
	-moz-animation-delay: 2.6s;
	animation-delay: 2.6s;
}

#works_list li:nth-of-type(11) {
	-webkit-animation-delay: 2.8s;
	-moz-animation-delay: 2.8s;
	animation-delay: 2.8s;
}

.works_wrap {
	width: 1205px;
	margin: auto;
	overflow: hidden;
	-webkit-animation: gdownIn 1s 0.5s both;
	-moz-animation: gdownIn 1s 0.5s both;
	animation: gdownIn 1s 0.5s both;
}

#works_list {
	width: 1245px;
	margin: 0 auto 80px;
	position: relative;
	left: -20px;
	overflow: hidden;
}

#works_list li {
	width: 375px;
	height: 234px;
	float: left;
	margin: 0 20px;
	margin-bottom: 40px;
}

#works_list li a {
	display: block;
	height: 100%;
	background: #fff;
	-webkit-transition: 0.5s linear;
	-moz-transition: 0.5s linear;
	transition: 0.5s linear;
}

#works_list li article {
	width: 375px;
	height: 234px;
	position: relative;
	overflow: hidden;
}

#works_list li article img {
	height: 100%;
	width: auto;
	vertical-align: top;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	transition: 0.5s;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

#works_list li a:hover .work-img {
	-webkit-transform: scale(1.2);
}

#works_list li i img {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 50%;
	left: -50px;
	z-index: 3;
	margin: -50px -50px;
	transition: 0.5s linear;
}

#works_list li i {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0);
	width: 375px;
	height: 234px;
	transition: 0.5s linear;
}

#works_list li a:hover i {
	background: rgba(0,0,0,0.6);
}

#works_list li a:hover i img {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 3;
	margin: -50px -50px;
}			