@charset "utf-8";
body {
			font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
		}
/*头部*/
.navbar-brand{
	padding:0;
}
/*.logo img{
	height: 50px;
}*/

.top_bg{
	background: #333;
}

/*banner css*/
.banner{
	margin-top:50px;
}
.banner img{
	margin:0 auto;
}

.tab1{
	margin:30px 0;
	color: #666;
}


.tab1 .tab_h2{
	font-size: 20px;
	text-align: center;
	color: #0059b2;
	letter-spacing: 1;
	
}

.tab1 .tab_text{
	font-size: 14px;
	text-align: center;
	margin:20px 0 60px 0;
	letter-spacing: 1;
}

.tab1 .media-heading{
	margin:5px 0 20px 0;
	
}
.tab1 p{
	
}
.tab1 .text-muted{
	text-decoration: line-through;
	color: #999;
}
.tab1 .col{
	padding:20px;
}
.tab2{
	background: #f4f4f4;
	padding:60px 20px;
}
.tab2_img img{
	/*width:45%;
	height:45%;*/
	width: 65%;
	height: 65%;
}

.tab3{
	padding:60px 20px;
}
.tab3_img img{
	width:65%;
	height:65%;
}
.tab2_text{
	text-align: center;
}
.tab2_text h3{
	font-size:20px;
}
.tab2_text p{
	font-size:14px;
}

/*二级页*/
.jumbotron{
	margin:50px 0 0 0;
	border:1px red solid;
	background: url(../img/banner1.jpg) no-repeat center;
}
.jumbotron h1{
	font-size:26px;
}
.jumbotron h4{
	font-size: 16px;
}

/*新闻中心*/
#news {
	background: #ccc;
	padding:40px 0;
}
#news .news_content{
	
	background: #fff;
	box-shadow: 2px 2px 3px #999;
	margin-bottom:20px;
	
}
.news_content img{
	padding:10px 0;
}
.news_text{
	padding-right: 10px;
}
.news_text h4{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 14px;
}

.hot_tit{
	border-left:5px solid #666;
	font-size: 26px;
	text-indent: 5px;
}

.hot_news{
	padding:0;
	margin-bottom:15px;
}
.hot_news h4{
	font-size:14px;
	
}

/*产品中心*/
#cp{
	background: #ccc;
	padding:40px 0;
}
#cp .thumbnail img{
	padding:10px;
}
#cp .thumbnail{
	box-shadow: 2px 2px 3px #999;
	margin-bottom: 30px;
	
}

/*关于我们*/
#about{
	background: #ccc;
	padding:40px 15px;
}
.menu_left{
	box-shadow: 2px 2px 3px #999;
}
#about .about{
	background: #fff;
	box-shadow: 2px 2px 3px #999;
}
#about .about h3{
	border-bottom:1px #ccc solid;
	padding:20px 0;
	margin:0;
}
#about .about p{
	line-height: 2;
	padding:20px 0;
}
.tab2_text h1{
	font-size: 30px;
	color: #8c8c8c;
}
/*.footer .tab2_img img{
	display: block;
    margin-right: auto;
    margin-left: auto;
}*/
/*页底信息*/
/*#footer{
	background: #666;
	border-top:#999 1px solid;
	padding:20px 0;
	color: #fff;
}
#footer p{
	text-align: center;
	
}*/

/* 小屏幕（平板，大于等于 768px）*/
		@media (min-width: 768px) {
			.tab1 .tab_h2{
				font-size: 26px;
			}
			.tab1 .tab_text{
				font-size: 15px;
			}
			.tab_text h3{
				font-size:22px;
			}
			.tab_text p{
				font-size:15px;
			}
			.tab2_text{
				float: left;
			}
			.tab2_img{
				float:right;
			}
			
			.news_text h4{
				font-size: 18px;
			}
			.hot_news h4{
				font-size:16px;
			}
			.tab2_text h1{
				font-size: 36px;
			}
			

		}
		
/* 中等屏幕（桌面显示器，大于等于 992px） */ 
		@media (min-width: 992px) {
			.tab1 .tab_h2{
				font-size: 30px;
			}
			.tab1 .tab_text{
				font-size: 16px;
			}
			.tab_text h3{
				font-size:24px;
			}
			.tab_text p{
				font-size:16px;
			}
			
			.news_text h4{
				font-size: 22px;
			}
			.hot_news h4{
				font-size:18px;
			}
			.tab2_text h1{
				font-size: 36px;
			}
			
		}
		
/* 大屏幕（大桌面显示器，大于等于 1200px）*/ 
		@media (min-width: 1200px) {
			.tab1 .tab_h2{
				font-size: 36px;
			}
			.tab1 .tab_text{
				font-size: 18px;
			}
			.tab_text h3{
				font-size:30px;
			}
			.tab_text p{
				font-size:18px;
			}
			.footer .tab2_img{
				text-align: right;
			}
			.news_text h4{
				font-size: 26px;
			}
			.hot_news h4{
				font-size:22px;
			}
			.tab2_text h1{
				font-size: 36px;
			}
			
		}